{% extends 'base.html' %} {% block content %}
<div class="group-detail_detail">
  <h1>{{ group.name }}</h1>
  {% if images %}
  <div class="carousel-container-detail">
    <div
      class="carousel-detail {% if images|length == 1 %}single-image-detail{% endif %}"
    >
      {% set total = images|length %} {% for img in images %}
      <div class="carousel-item" {% if total>
        1 %}style="--total-slides: {{ total }}; animation-delay: {{ loop.index0
        * 4 }}s;"{% endif %}>
        <img class="bg" src="{{ url_for('static', path=img.path) }}" alt="" />
        <img class="fg" src="{{ url_for('static', path=img.path) }}" alt="" />
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% if group.description %}
  <div class="group-description_detail">{{ group.description | safe }}</div>
  {% endif %} 
  {% if helpers_by_function %}
  <div class="group-helpers_detail">
    {% set functions_list = helpers_by_function | list %}
    {% for i in range(0, functions_list|length, 2) %}
      {% set func1 = functions_list[i] %}
      {% set func2 = functions_list[i+1] if i+1 < functions_list|length else none %}
      {% if func2 and func1[1]|length == 1 and func2[1]|length == 1 %}
        <div class="function-pair">
          {% for func, helpers in [func1, func2] %}
            <div class="function-group_detail">
              <h3>
                {{ func.name }} {% if func and func.emblem_svg_path %}
                <img
                  height="30px"
                  src="{{ url_for('static', path=func.emblem_svg_path) }}"
                  alt="Dienststellungskennzeichen-{{ func.name }}"
                />
                {% endif %}
              </h3>
              <div class="helpers-row_detail">
                {% for helper in helpers %}
                <div class="helper-card_detail">
                  <div class="helper-photo">
                    {% if helper.photo_path %}
                    <img
                      src="{{ url_for('static', path=helper.photo_path) }}"
                      alt="{{ helper.first_name }} {{ helper.last_name }}"
                    />
                    {% else %}
                    <img
                      src="{{ url_for('static', path='placeholder-photo.svg') }}"
                      alt="Platzhalterbild"
                    />
                    {% endif %}
                  </div>
                  <div class="helper-name_detail">
                    <div class="helper-name fn">
                      {% if incognito_level >= 1 %}
                        {{ helper.first_name[0] }}.
                      {% else %}
                        {{ helper.first_name }}
                      {% endif %}
                    </div>
                    <div class="helper-name ln">
                      {% if incognito_level >= 1 %}
                        {{ helper.last_name[0] }}.
                      {% else %}
                        {{ helper.last_name }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="helper-functions_detail">
                    {% if helper.secondary_functions %}
                    <span class="secondary-functions_detail">
                      ({{ helper.secondary_functions | map(attribute='legend_name') |
                      join(', ') }})
                    </span>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% for func, helpers in [func1] %}
          <div class="function-group_detail">
            <h3>
              {{ func.name }} {% if func and func.emblem_svg_path %}
              <img
                height="30px"
                src="{{ url_for('static', path=func.emblem_svg_path) }}"
                alt="Dienststellungskennzeichen-{{ func.name }}"
              />
              {% endif %}
            </h3>
            <div class="helpers-row_detail">
              {% for helper in helpers %}
              <div class="helper-card_detail">
                <div class="helper-photo">
                  {% if helper.photo_path %}
                  <img
                    src="{{ url_for('static', path=helper.photo_path) }}"
                    alt="{{ helper.first_name }} {{ helper.last_name }}"
                  />
                  {% else %}
                  <img
                    src="{{ url_for('static', path='placeholder-photo.svg') }}"
                    alt="Platzhalterbild"
                  />
                  {% endif %}
                </div>
                <div class="helper-name_detail">
                  <div class="helper-name fn">
                    {% if incognito_level >= 1 %}
                      {{ helper.first_name[0] }}.
                    {% else %}
                      {{ helper.first_name }}
                    {% endif %}
                  </div>
                  <div class="helper-name ln">
                    {% if incognito_level >= 1 %}
                      {{ helper.last_name[0] }}.
                    {% else %}
                      {{ helper.last_name }}
                    {% endif %}
                  </div>
                </div>
                <div class="helper-functions_detail">
                  {% if helper.secondary_functions %}
                  <span class="secondary-functions_detail">
                    ({{ helper.secondary_functions | map(attribute='legend_name') |
                    join(', ') }})
                  </span>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        {% if func2 %}
          <div class="function-group_detail">
            <h3>
              {{ func2[0].name }} {% if func2[0] and func2[0].emblem_svg_path %}
              <img
                height="30px"
                src="{{ url_for('static', path=func2[0].emblem_svg_path) }}"
                alt="Dienststellungskennzeichen-{{ func2[0].name }}"
              />
              {% endif %}
            </h3>
            <div class="helpers-row_detail">
              {% for helper in func2[1] %}
              <div class="helper-card_detail">
                <div class="helper-photo">
                  {% if helper.photo_path %}
                  <img
                    src="{{ url_for('static', path=helper.photo_path) }}"
                    alt="{{ helper.first_name }} {{ helper.last_name }}"
                  />
                  {% else %}
                  <img
                    src="{{ url_for('static', path='placeholder-photo.svg') }}"
                    alt="Platzhalterbild"
                  />
                  {% endif %}
                </div>
                <div class="helper-name_detail">
                  <div class="helper-name fn">
                    {% if incognito_level >= 1 %}
                      {{ helper.first_name[0] }}.
                    {% else %}
                      {{ helper.first_name }}
                    {% endif %}
                  </div>
                  <div class="helper-name ln">
                    {% if incognito_level >= 1 %}
                      {{ helper.last_name[0] }}.
                    {% else %}
                      {{ helper.last_name }}
                    {% endif %}
                  </div>
                </div>
                <div class="helper-functions_detail">
                  {% if helper.secondary_functions %}
                  <span class="secondary-functions_detail">
                    ({{ helper.secondary_functions | map(attribute='legend_name') |
                    join(', ') }})
                  </span>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() 
  {
    const helpersDiv = document.querySelector('.group-helpers_detail');

    function smoothScroll(element, to, duration, callback) 
    {
      const start = element.scrollTop;
      const change = to - start;
      let startTime = null;

      function animateScroll(currentTime) {
        if (startTime === null) {
          startTime = currentTime;
        }
        const timeElapsed = currentTime - startTime;
        let t = timeElapsed / (duration / 2);
        let scrollTop;
        if (t < 1) {
          scrollTop = change / 2 * t * t + start;
        } else {
          t--;
          scrollTop = -change / 2 * (t * (t - 2) - 1) + start;
        }
        element.scrollTop = scrollTop;

        if (timeElapsed < duration) {
          requestAnimationFrame(animateScroll);
        } else {
          element.scrollTop = to;
          if (callback) {
            callback();
          }
        }
      }
      requestAnimationFrame(animateScroll);
    }

    if (helpersDiv && helpersDiv.scrollHeight > helpersDiv.clientHeight) 
    {
      const topReachedEvent = new Event('topReached');
      const bottomReachedEvent = new Event('bottomReached');

      helpersDiv.addEventListener('topReached', () => {
        setTimeout(() => {
          smoothScroll(helpersDiv, helpersDiv.scrollHeight, 5000, () => {
            helpersDiv.dispatchEvent(bottomReachedEvent);
          });
        }, 5000);
      });

      helpersDiv.addEventListener('bottomReached', () => {
        setTimeout(() => {
          smoothScroll(helpersDiv, 0, 5000, () => {
            helpersDiv.dispatchEvent(topReachedEvent);
          });
        }, 5000);
      });

      setTimeout(() => {
        helpersDiv.dispatchEvent(topReachedEvent);
      }, 5000);
    }
  });
</script>

{% if detail_groups %} {% set pages_list = ["/"] %} {% for g in detail_groups %}
{% do pages_list.append("/group/" + g.id|string) %} {% endfor %}
<script>
  const pages = {{ pages_list | tojson | safe }};
  let currentIndex = pages.indexOf(window.location.pathname);

  function switchPage() {
    if (window.serverReachable) {
      currentIndex = (currentIndex + 1) % pages.length;
      console.log('Switching to:', pages[currentIndex]);
      window.location.href = pages[currentIndex];
    }
  }

  setInterval(switchPage, 30000);
</script>

{% endif %} {% endblock %}
