name: Build and Export Image ARM64

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image for ARM64
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: helferboard_ARM64:${{ github.sha }}
          platforms: linux/arm64
          outputs: type=docker,dest=/tmp/helferboard_ARM64.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: helferboard_ARM64_${{ github.sha }}
          path: /tmp/helferboard_ARM64.tar
          if-no-files-found: error
          retention-days: 5
